@font-face {
    font-family: ShakespeareFirstFolioFont;
    src: url("./assets/ShakespeareFirstFolioFont.otf");
}

body {
    background-image: linear-gradient(180deg, #94A1EF, #9AB8F7, #A0D5F6, #A6ECFA);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}


.title-container {
    position: relative;
    text-align: center;
}


h1 {
    font-family: ShakespeareFirstFolioFont, sans-serif;
    font-size: 3.5rem;
}

.logo {
    width: 4%;
}

hr {
    border: 0;
    height: 1px;
    width: 50%;
    position: relative;
    margin: 30px auto;
    background: black;
}

p {
    margin-left: 9rem;
    margin-right: 9rem;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

.input-listener {
    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(211, 211, 211, 0.75);
}

.translateTable {
    margin: auto;
    width: 80%;
}

.innerTable {
    width: 100%;
    height: 100%;
    border-spacing: 1.5em 0;
    table-layout: fixed;   
}

th {
    font-family: ShakespeareFirstFolioFont, sans-serif;
    font-size: 2rem;
}

td {
    width: 50%;
    height: 15em;
    border: 1px solid black;
    border-radius: 10px;
}

.generate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.swap-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 12px;
    background-color: rgba(94, 43, 255, 0.75); /* Green */
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    transition-timing-function: ease;
    background-color: rgb(94, 43, 255);
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}